html {
  font: 400 14px/1.4 sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color: #FFF;
}
body {
  margin: 0;
}
button,
input {
  font: inherit;
}
a {
  color: #3270ff;
  text-decoration: none;
}
::selection {
  background: #1e67ff;
  color: #FFF;
}
.ui-table-box {
  border: 1px solid #666666;
  border-collapse: collapse;
  background-color: #EEE;
  color: #222;
}
.ui-table-box tr:nth-child(odd) td {
  background: #F8F8F8;
}
.ui-table-box tr[data-blocked="true"] {
  opacity: 0.2;
  transition: opacity 0.1s ease;
  pointer-events: none;
}
.ui-table-box tr[data-blocked="true"] td {
  background: #DDD;
}
.ui-table-box tr[data-haved] td {
  background: #e4f4ec;
}
.ui-table-box tr[data-pending] td {
  background: #ffd7d7;
}
.ui-table-box th {
  border: 1px solid #DDD;
  padding: 8px;
  background-color: #EEE;
}
.ui-table-box td {
  border: 1px solid #DDD;
  padding: 8px;
  background-color: #fafafa;
  line-height: 1.18;
}
.ui-table-box td h5 {
  margin: 0;
  padding: 4px 0 0;
}
.ui-table-box td small {
  opacity: 0.5;
}
.ui-table-box td img {
  display: block;
  margin: -10px;
}
.ui-table-box td pre {
  margin: 0;
}
.app {
  width: 960px;
  margin: 0 auto;
  padding: 0 0 100px;
}
header {
  padding: 20px;
  line-height: 42px;
  overflow: hidden;
}
header h1 {
  margin: 0;
  font-family: '苹方';
  /* font-weight:1200; */
  /* color:#FFF; */
  text-shadow: 1px 1px 0 #ff658c, -1px -1px 0 #77cdc7;
  float: left;
}
header .user-box {
  float: right;
  line-height: 42px;
  position: relative;
  padding-left: 50px;
}
header .user-box img {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 42px;
  height: 42px;
  border-radius: 42px;
  background: #444;
}
.login-box {
  padding: 100px 20px;
}
.login-box a {
  display: block;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  width: 340px;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 2px solid #2e1c99;
  text-shadow: 0 2px 3px #5B42F3;
  color: #FFF;
  border-radius: 10px;
  box-shadow: rgba(151, 65, 252, 0.3) 0 15px 40px -5px;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h4 {
  font-size: 15px;
}
[v-cloak] {
  display: none;
}
pre {
  font-size: 12px;
  background: #222;
  color: #FFF;
  padding: 6px;
  margin: 0;
  word-wrap: break-all;
  overflow: hidden;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 460px;
  margin: 0;
  padding: 10px 14px;
  border: 0;
  background: #EEE;
  resize: none;
}
.ui-input {
  background: #EEE;
  border: 0;
  padding: 2px 4px;
}
.ui-input:focus,
textarea:focus {
  background: #F8F8F8;
  outline: 2px solid #3270ff;
}
.users-box {
  width: 100%;
}
.app[data-runing="true"] {
  cursor: wait;
}
.app[data-runing="true"] .ctrl-box {
  pointer-events: none;
}
hr {
  border: 0;
  margin: 5px 0;
  padding: 0;
  border-top: 1px solid #CCC;
}
.tip-box {
  border-top: 1px solid #EEE;
  /* margin:20px 0; */
  padding: 20px 20px;
}
.tip-box ul {
  margin: 4px 0;
  padding: 0;
  font-size: 12px;
  list-style-type: none;
}
.tip-box ul li {
  margin: 0.6em 0;
  padding: 0;
  line-height: 1.4;
}
.tip-box h6 {
  font-weight: normal;
}
.tip-box a {
  display: block;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .output-box {
    cursor: pointer;
    position: relative;
    z-index: 0;
  }
  .output-box img {
    margin: 0 auto;
    max-width: 100vw;
  }
  .source-image {
    pointer-events: none;
    position: absolute;
  }
  .output-image {
    display: block;
    position: relative;
    z-index: 1;
  }
  .output-box:active .source-image {
    display: block;
  }
  .output-box:active.output-image {
    opacity: 0;
  }
  .ctrl-box {
    padding: 10px;
  }
}
code {
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 0 4px;
  margin: 0 2px;
  border-radius: 1px;
}
blockquote {
  display: inline-block;
  background: #EEE;
  color: #333;
  margin: 0;
  padding: 1em;
}
blockquote p {
  margin: 0;
}
.post-box {
  padding: 20px;
}
.dialog-box {
  display: inline-block;
  margin: 0;
  padding: 12px 14px;
  background: #ffe89b;
  border: 1px solid #ffd350;
  border-radius: 3px;
  color: #8b4d00;
}
footer {
  padding: 20px 20px 60px;
  line-height: 2;
}
footer hr {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  height: 1em;
  margin: 0 0.2em;
  border-right: 1px solid #DDD;
}
tr[data-log="red"] td {
  background: rgba(255, 0, 0, 0.5) !important;
}
tr[data-log="green"] td {
  background: rgba(0, 255, 0, 0.5) !important;
}
tr[data-log="orange"] td {
  background: rgba(255, 255, 0, 0.5) !important;
}
.nowarp {
  white-space: nowrap;
}
time {
  white-space: nowrap;
}
.users-box tr[data-bot] {
  opacity: 0.3;
}
[data-red] {
  color: red;
}
[data-value="Unknown"],
[data-value="Private"],
[data-false] {
  background: #ffc3c3 !important;
}
.ui-tag {
  display: inline-block;
  background: rgba(128, 128, 128, 0.2);
  color: #666;
  line-height: 1。2;
  padding: 4px;
  border-radius: 2px;
}
.ui-tag.red {
  background: red;
  color: #FFF;
}
.sort-th {
  cursor: pointer;
  user-select: none;
}
.sort-th.active {
  background: #DDD;
}
.log-buttons-box {
  margin: -8px;
  overflow: hidden;
  background: #FFF;
  width: 76px;
  height: 62px;
}
.log-buttons-box a {
  float: left;
  width: 50%;
  padding: 8px 0;
  line-height: 16px;
  text-align: center;
}
.ui-line-button {
  background: #FFF;
  cursor: pointer;
}
.ui-line-button.red {
  background: rgba(255, 0, 0, 0.5);
  color: red;
}
.ui-line-button.green {
  background: rgba(0, 255, 0, 0.5);
  color: green;
}
.ui-line-button.orange {
  background: rgba(255, 255, 0, 0.5);
  color: orange;
}
.content-box {
  margin: 20px 0;
  padding: 10px 20px;
  background: #333;
  line-height: 1.8;
}
.content-box h2 {
  padding: 1em 0 0;
}
.content-box h3 {
  padding: 1em 0 0;
}
.post-box {
  margin: 20px 0;
  padding: 20px 20px;
  background: #333;
}
.post-box p {
  margin: 0.5em 0;
}
label {
  cursor: pointer;
  user-select: none;
}
.ui-copy {
  cursor: pointer;
}
[v-cloak] {
  display: none;
}
input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.1em;
}
@media (max-height: 800px) {
  .app {
    font-size: 12px;
  }
  textarea {
    display: none;
  }
  header {
    display: none;
  }
  h4 {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px;
  }
  .ui-table-box tr th {
    padding: 4px 0;
    line-height: 12px;
    white-space: nowrap;
  }
  .ui-table-box tr th br {
    display: none;
  }
  .ui-table-box tr th[style="width: 44px;"] {
    width: 10px !important;
  }
  .ui-table-box tr td {
    padding: 0 4px;
    line-height: 1.1;
  }
  .ui-table-box tr td img {
    width: 40px;
    margin: -3px -5px;
  }
  div[style="margin: -4px 0px;"] br {
    display: none;
  }
  div[style="margin: -4px 0px;"] a[href^="https://csgo.ste"] {
    display: none;
  }
  small {
    font-size: 12px;
  }
  small + small {
    display: none !important;
  }
  .log-buttons-box {
    margin: 0 -4px;
    height: auto;
  }
  .log-buttons-box a {
    line-height: 17px;
    padding: 0;
  }
  .ui-tag {
    padding: 2px 3px;
  }
}
