<!DOCTYPE html>
<meta charset="UTF-8">
<title>CSGO 对局信息速览 - CSGO Status Search - 神奇海螺实验室</title>
<meta name="viewport" content="width=device-width,user-scalable=0">
<meta name="discription" content="对局用户信息速览">
<script>
    const headEl = document.querySelector('head');
    const loadScript = (src,cb=_=>{},el) =>{
        el = document.createElement('script');
        el.src = src;
        el.onload=cb;
        headEl.appendChild(el);
    };
    const uuid = localStorage['uuid'] || +new Date()
    if(location.hostname === 'lab.magiconch.com'){
        document.write(`<link rel="stylesheet" href="document.css?r=${uuid}" />`)
    }else{
        document.write(`<link rel="stylesheet/less" href="document.less" />`)
        loadScript('//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js');
    }
</script>
<div class="app" :data-runing="runing">
    <header>
        <h1>CSGO 对局信息速览 - CSGO Status Search</h1>
        <div class="user-box" v-if="user" v-cloak>
            <img :src="user.avatar">
            {{user.name}}
        </div>
    </header>

    <div class="login-box" v-if="user === null" v-cloak>
        <a :href="authURL">Steam 登录以使用</a>
    </div>
    <template v-else  v-cloak>
        <textarea v-model.trim="text" cols="90" rows="30" placeholder="输入 CSGO status 信息，快速查询对局用户信息"></textarea>
        <!-- <button @click="refactor">refactor</button> -->
        <!-- <input type="range" v-model.number="h" min="1" max="20" step="0.1"> {{h}} -->

        <div class="info-box" v-if="info">
            <div v-if="hackers.length" style="padding:10px 10px 5px;">
                <label>
                    <input type="checkbox" v-model="callvoteKick">
                    尝试投票踢出
                </label>
                <!-- <label>
                    <input type="checkbox" v-model="disconnect">
                    退出当前对局
                </label> -->
                <p>
                    <button @click="copy($refs['sayFuckingHacker'].innerText)">复制</button>
                    <span ref="sayFuckingHacker">
                        say
                        "<span>{{hackers.map(hacker=>`${hacker.name} ( ${hacker.id32} )`).join(', ').replace(/["']/g,'')}}</span> is Noob Hacker, fucking Reported"
                        <span v-if="callvoteKick" v-for="hacker in hackers">;callvote kick {{hacker.userId}}</span>
                        <span v-if="disconnect">;disconnect <span style="opacity:0;">您已被 VAC 封禁 w(ﾟДﾟ)w</span></span>
                    </span>
                </p>
                <p>
                    <button @click="copy($refs['sayFuckingHackerZH'].innerText)">复制</button>
                    <span ref="sayFuckingHackerZH">
                        say
                        "<span>{{hackers.map(hacker=>`${hacker.name} ( ${hacker.id32} )`).join('、').replace(/["']/g,'')}}</span> 是个臭作弊狗，麻烦大家举报一下"
                        <span v-if="callvoteKick" v-for="hacker in hackers">;callvote kick {{hacker.userId}}</span>
                        <span v-if="disconnect">;disconnect <span style="opacity:0;">您已被 VAC 封禁 w(ﾟДﾟ)w</span></span>
                    </span>
                </p>
            </div>
            <table class="ui-table-box users-box">
                <tr>
                    <th class="sort-th" 
                        :class="{active:sortKey === 'userId'}" 
                        @click.prevent="sortBy('userId',-sortType)" style="width:1em">u</th>
                    <th class="sort-th" 
                        :class="{active:sortKey === 'id'}" 
                        @click.prevent="sortBy('id',-sortType)" style="width:1em">id</th>
                    <th class="sort-th" 
                        :class="{active:sortKey === 'ping'}" 
                        @click.prevent="sortBy('ping',-sortType)">ping<br>loss</th>
                    <th class="sort-th" 
                        :class="{active:sortKey === 'name'}" 
                        @click.prevent="sortBy('name',-sortType)">
                        name
                        <br>
                        id32 / id64
                    </th>
                    <!-- <th>state</th> -->
                    <!-- <th>连接</th> -->
                    <!-- <th title="rate">包速率</th> -->
                    
                    <th style="width:44px">头像</th>
                    <th style="width:82px" class="sort-th" 
                        :class="{active:sortKey === 'timecreated'}" 
                        @click.prevent="sortBy('timecreated',-sortType)">
                        Steam
                        <br>
                        注册时间
                    </th>
                    <th style="width:38px" class="sort-th" 
                        :class="{active:sortKey === 'level'}" 
                        @click.prevent="sortBy('level',-sortType)">
                        社区
                        <br>  
                        等级
                    </th>
                    <th style="width:46px" class="sort-th" 
                        :class="{active:sortKey === 'playtime_2weeks'}" 
                        @click.prevent="sortBy('playtime_2weeks',-sortType)">2周<br>总时</th>
                    <!-- <th>资料</th> -->

                    <th>封禁</th>


                    <th style="width:86px" class="sort-th" 
                    :class="{active:sortKey === 'logUnix'}" 
                    @click.prevent="sortBy('logUnix',-sortType)">标记时间</th>
                    <th style="width:60px">标记</th>
                    <th style="width:36px"></th>
                </tr>
                <tr v-for="user in users" 
                    :key="user.id64"
                    :data-bot="user.bot" 
                    :data-log="Logs[user.id64]&&Logs[user.id64].color">
                    <td class="ui-copy" @click="copy(`callvote kick ${user.userId}`)">{{user.userId}}</td>
                    <td>{{user.id}}</td>
                    <td>
                        <span>{{user.ping}}</span>
                        <small v-if="!!+user.loss" data-red style="display: block;">{{user.loss}}</small>
                    </td>
                    <td>
                        <h4>
                            <b>{{user.personaname || user.name}}</b>
                            <span 
                                v-if="user.personaname && user.name !== user.personaname.replace(/~/g,'?')"
                                style="color:red;font-weight: normal;"
                                >{{user.name}}</span>
                        </h4>
                        <small style="display: block;">{{user.id32}}</small>
                        <small style="display: block;">{{user.id64}}</small>
                        <small style="display: block;" v-if="user.bot">BOT</small>
                    </td>
                    <!-- <td>{{user.state}}</td> -->
                    <!-- <td>{{user.connected}}</td> -->
                    <!-- <td>{{user.rate}}</td> -->

                    <td style="overflow: hidden;">
                        <img :src="user.avatar">
                    </td>

                    <td>
                        <span v-if="user.timecreated">
                            <time>{{dateFormat(user.timecreated)}}</time>
                            <br>
                            <small><time>{{dateFormat(user.timecreated,'hh:mm')}}</time></small>
                            <small>{{Math.floor((new Date()/1000 - user.timecreated)/3600/24/356)}}年</small>
                        </span>
                        <span v-else-if="user.timecreated === undefined"></span>
                        <span v-else class="ui-tag red nowarp">
                            资料未公开
                        </span>
                    </td>

                    <td>
                        <span class="ui-tag nowarp" 
                            v-if="user.level !== undefined && user.level < 5" 
                            :style="{background:`hsl(${user.level*h},${100 - user.level}%,${60 - user.level/3}%)`,color:'#FFF'}">
                            <small>Lv</small><b>{{user.level}}</b>
                        </span>
                        <span class="ui-tag nowarp" 
                            v-else-if="user.level !== undefined" >
                            <small>Lv</small><b>{{user.level}}</b>
                        </span>
                    </td>
                    <!-- <td>{{user.rep.privacystate}}</td> -->

                    <td>
                        <span v-if="user.csgo_playtime_2weeks && user.csgo_playtime_forever">
                            <span><b>{{Math.floor(user.csgo_playtime_2weeks/60)}}</b>h</span>
                            <br>
                            <small>{{Math.floor(user.csgo_playtime_forever/60)}}h</small>
                        </span>
                    </td>

                    <td>
                        <template v-if="user.bans">
                            <span class="ui-tag red nowarp" v-if="user.bans.CommunityBanned">社区封禁</span>
                            <span class="ui-tag red nowarp" v-if="user.bans.VACBanned">VAC封禁</span>
                            <span class="ui-tag red nowarp" v-if="user.bans.NumberOfGameBans">
                                游戏封禁
                                <b>{{user.bans.NumberOfGameBans}}</b>
                            </span>
                            <span class="ui-tag red nowarp" v-if="user.bans.NumberOfVACBans">
                                VAC封禁
                                <b>{{user.bans.NumberOfVACBans}}</b>
                            </span>
                            <span class="ui-tag red nowarp" v-if="user.bans.EconomyBan">交易封禁{{user.bans.EconomyBan}}</span>
                        </template>
                    </td>

                    <td>
                        <span v-if="Logs[user.id64]">
                            <time>{{dateFormat(Logs[user.id64].unix)}}</time>
                            <br>
                            <small><time>{{dateFormat(Logs[user.id64].unix,'hh:mm')}}</time></small>
                        </span>
                    </td>

                    <td>
                        <div class="log-buttons-box">
                            <a class="ui-line-button red" @click="log(user.id64,'red')">红</a>
                            <a class="ui-line-button green" @click="log(user.id64,'green')">绿</a>
                            <a class="ui-line-button" @click="log(user.id64,null)">无</a>
                            <a class="ui-line-button orange" @click="log(user.id64,'orange')">黄</a>
                        </div>
                    </td>
                    <td>
                        <div v-if="user.id64" style="margin:-4px 0">
                            <a :href="`https://steamcommunity.com/profiles/${user.id64}`" target="_blank">社区</a>
                            <br>
                            <!-- <a :href="`https://steamrep.com/search?q=${user.id64}`" target="_blank">rep</a> -->
                            
                            <a :href="`https://csgo.steamanalyst.com/users/${user.id64}`" target="_blank">Ana</a>
                            <br>
                            <a :href="`https://csgostats.gg/player/${user.id64}`" target="_blank">stats</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="padding:20px 0 0;">
            <label>
                <input type="checkbox" v-model="debug">
                高级选项
            </label>
        </div>
        <div class="debug-box" v-if="debug">
            <div class="post-box">
                <h3>标记库</h3>
                <p>独立的记录库名称，可以自己起名新建共享给其他人</p>
                <input class="ui-input" v-model.lazy.trim="logName" placeholder="记录库名称"> [a-Z0-9_] 英文数字下划线
            </div>
            <div class="post-box">
                <button @click="clear()">清空全部缓存</button>
            </div>
    
            <!-- <pre>{{JSON.stringify($data,0,4)}}</pre> -->
        </div>
    </template>


    <div style="padding:20px 0 0;">
        <label>
            <input type="checkbox" v-model="content">
            使用说明
        </label>
    </div>

    <div class="content-box" v-if="content">
        <p>
            在玩 CSGO 头号特训模式中、经常会遇到眼熟的外挂用户<br>
            <b>CurseRed</b> 建议做一个 <code>status</code> 用户信息速查工具、方便我们快速确认当局敏感用户，于是就有了这个工具
        </p>
        <h2>使用</h2>
        <p>
            游戏中 <code>~</code> 调出控制台<br>
            输入 <code>status</code> 回车<br>
            复制控制台中输出的内容到输入框<br>
            即可对当前对局用户信息进行快速确认
        </p>
        <h2>功能</h2>
        <p>目前支持 <br>
            <b>唯一 ID</b>、<b>游戏昵称</b>、<b>社区昵称</b>、<b>头像</b>、<br>
            <b>资料未公开</b>、<b>Steam 注册时间</b>、<b>Steam 等级</b>、<b>CSGO 游戏时长</b>、<br>
            <b>VAC封禁</b>、<b>社区封禁</b>、<b>交易封禁</b>、<b>游戏封禁</b>、<br>
            <b>延迟</b>、<b>发包数</b><br>等等信息的展示</p>
        <p>敏感信息会 <b style="color:red">标红</b> 提醒</p>
        <p>游戏中昵称和社区中不一致的情况会在界面上 <b style="color:red">红名</b> 标出社区昵称，可能是外挂功能一部分</p>
        <p>表格标题单击可排序</p>
        <p>点击玩家对应 <code>userId</code> 可复制投票踢指定玩家的控制台命令</p>

        <h3>标记</h3>
        <p>
            标记功能可对当前对局玩家进行快速标记，目前共有三种颜色 
            <b style="color:red">红</b>、
            <b style="color:orange">黄</b>、
            <b style="color:green">绿</b>
            方便用户使用，具体作用可自行分配
        </p>
        <p>每次标记会记录操作时间，下回在对局中遇到已标记玩家可以看到最后一次标记时间</p>
        <p>高级选项中可自行输入名称来 <b>建立</b> 或 <b>加入</b> 标记库，分享标记库名称可以多人公用标记信息</p>
        
        <h3>say</h3>
        <p>当前对局有标红玩家时，可快速复制 <code>say</code> 命令，在控制台迅速发言</p>
        <p>
            竞技、休闲模式可勾选 <label>
                <input type="checkbox" v-model="callvoteKick">
                尝试投票踢出
            </label> 在发言同时尝试发起投票踢出对应玩家
        </p>
        <!-- <p>
            勾选 <label>
                <input type="checkbox" v-model="disconnect">
                退出当前对局
            </label> 可在发言同时退出当前对局
        </p> -->

        <h2>辅助</h2>
        <p>参考信息不足时可点击用户右侧的链接们、跳转到第三方网站确认更多信息</p>
        <p>
            <b>csgostats.gg</b> 可查看玩家对局情况
            <a href="https://csgostats.gg" target="_blank">https://csgostats.gg</a>
        </p>
        <p>
            <b>SteamAnalyst</b> 可预估玩家饰品价格 
            <a href="https://csgo.steamanalyst.com/" target="_blank">https://csgo.steamanalyst.com</a>
        </p>
        <p>头号特训模式玩家也可以尝试在 <b>CSGO作弊狗</b> <a href="http://csgozbg.cn/" target="_blank">http://csgozbg.cn</a> 数据库中查询是否有已登记的作弊玩家</p>


        <h2>GitHub</h2>
        <p>
            <a href="https://github.com/itorr/CSGO-Status-Search">https://github.com/itorr/CSGO-Status-Search</a>
        </p>

        <h2>参考</h2>
        <p>
            Steam Web API Documentation 
            <a href="https://steamapi.xpaw.me/" target="_blank">https://steamapi.xpaw.me</a> <span>with ♥ by <a href="https://xpaw.me" target="_blank">xPaw</a></span></p>
        <p>
            Steam Web API
            <a href="https://developer.valvesoftware.com/wiki/Steam_Web_API" target="_blank">https://developer.valvesoftware.com/wiki/Steam_Web_API</a>
        </p>
        <p>
            Ban Checker for Steam 
            <a href="https://chrome.google.com/webstore/detail/ban-checker-for-steam/canbadmphamemnmdfngmcabnjmjgaiki" target="_blank">https://chrome.google.com/webstore/detail/ban-checker-for-steam/canbadmphamemnmdfngmcabnjmjgaiki</a>
        </p>
        <p>
            Steam Inventory Helper 
            <a href="https://chrome.google.com/webstore/detail/steam-inventory-helper/cmeakgjggjdlcpncigglobpjbkabhmjl" target="_blank">https://chrome.google.com/webstore/detail/steam-inventory-helper/cmeakgjggjdlcpncigglobpjbkabhmjl</a>
        </p>
    </div>

</div>

<a id="c" style="color:#333;cursor:pointer;">clear</a>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="md5.min.js"></script>
<script>
loadScript(`document.js?r=${uuid}`,_=>{c.onclick=_=>{
	localStorage.clear()
	location.reload()
}});
</script>